# Dependências
/node_modules
/dist
/client/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de Ambiente
.env
.env.local
.env.*.local

# Outros
.DS_Store
.vscode
.vercel
